<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Empleados</title>

<!-- Bootstrap CSS -->
<link href="../static/bootstrap/css/bootstrap.css" rel="Stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">

</head>
<body>




	<div class="container">
	<br>
		<h2 th:if="${lista.isEmpty()}">No hay empleados</h2>
			<div th:if="${!lista.isEmpty()}">
			<h2 class="text-center">Empleados lealtad 360</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Rut</th>
						<th>Perfiles</th>
						<th>Opciones</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="empleado : ${lista}">
				<td th:text="${empleado.nombre}">
				<td th:text="${empleado.rut}">
				<td><strong th:text="${empleado.perfil}"></strong><span th:if="${!empleado.perfildos.equals('Sin perfil')}"><strong th:text="${empleado.perfildos}" style="margin-left:10px;"></strong></span></td>
				<td><a th:href="@{/api/v1/save/{id}(id=${empleado.id})}" class="btn btn-primary">Editar</a>
				<a th:href="@{/api/v1/delete/{id}(id=${empleado.id})}" class="btn btn-danger" style="margin-left:10px;">Eliminar</a></td>
				</tr>
				</tbody>
			</table>
			</div>
		<a href="/save/0" class="btn btn-primary" style="font-weight:bold;margin-top:20px;">Agregar empleado</a>
		</div>


</body>
</html>