<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Empleados</title>

<!-- Bootstrap CSS -->
<link href="../static/bootstrap/css/bootstrap.css" rel="Stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">

</head>
<body>

<div class="container">
<h2 class="text-center">Agrega o edita a empleados de lealtad 360</h2>
<br>
<form action="#" th:action="@{/save}"  method="post" th:object=${empleado}>
<input type="hidden"  th:field="*{id}" name="id" id="id">
<div class="form-group">
<label for="rut">Rut empleado</label>
<input type="text" class="form-control" id="rut" th:field="*{rut}" name="rut">
</div>
<div class="form-group">
<label for="nombre">Nombre empleado</label>
<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
</div>
<div class="form-group">
<label for="perfil">Selecciona un perfil</label>
<select class="form-control" id="perfil" th:field="*{perfil}" name="perfil">
<option value="Cliente">Cliente</option>
<option value="Administrador">Administrador</option>
<option value="Jefe de proyectos">Jefe de proyectos</option>
</select>
</div>
<div class="form-group">
<label for="perfildos">Selecciona un segundo perfil</label>
<select class="form-control" id="perfildos" th:field="*{perfildos}" name="perfildos">
<option value="Sin perfil">Sin perfil</option>
<option value="Cliente">Cliente</option>
<option value="Administrador">Administrador</option>
<option value="Jefe de proyectos">Jefe de proyectos</option>
</select>
</div>


<button type="submit" class="btn btn-success">Guardar</button>

</form>	
</div>
</body>
</html>